@font-face {
    font-family: 'Rubik', sans-serif;
    ;
    src: url(../fonts/rubik-v20-latin-500.ttf);

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

header {
    background-color: #f6f6f9;
    padding-top: 43px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0px 120px;
    padding: 0px;
}

.header_sec {
    display: flex;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    padding-right: 185px;
}

.items {
    font-family: 'Rubik';
    font-style: normal;
    color: #aaa2a2;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 0px 30px;
}

.icons {
    color: #285193;
    padding: 0px 2px;
}

.join {
    background-color: #37AEE2;
    display: flex;
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border-radius: 5px;
    margin-left: 25px;
}

.join_tg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    height: 40px;
    width: 146px;
    border-radius: 5px;
}

.svg_tg {
    margin-right: 7px;
}

.hira {
    border-radius: 5px;
    height: 40px;
}

.nav_list {
    list-style: none;
    margin-left: 30px;
    display: flex
}


.nav_link {
    text-decoration: none;
    color: #515151;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    margin-right: 30px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    width: 1200px;
    margin-left: 120px;
    height: 40px;
    text-align: center;
    padding: 10px;
}

.banner {
    margin-top: 18px;
    margin-left: 120px;
    margin-bottom: 25px;
}
.section1{
    display: flex;
    margin-top: 20px;
    margin-left: 120px;
    background-color: #f6f6f9;
    width: 1200px;
    height: 133px;
    border-radius: 5px;
}
.sec1_list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    
    
}
.sec1_item1{
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding-right: 40px;
    padding-left: 70px;
    border-right: 2px solid #EB5569;    
}
.sec1_item2{
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #DB0000;
    padding-right: 40px;
    padding-left: 70px;
    border-right: 2px solid #F4CCD1;
}
.sec1_item3{
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #05B135;
    padding-right: 40px;
    padding-left: 70px;
    border-right: 2px solid #F4CCD1;
}
.sec1_item4{
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left: 70px;
    padding-right: 40px;
    color: #000000;
}
b{color: #000000;}
.sec1_img{
    vertical-align: middle;
    margin-right: 25px;
    
}